<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRUD</title>
</head>
<body>
  <h1>Signup User :</h1>
  <form action="/signup" method="POST">
    <p>USERNAME <input type="text" name="username" placeholder="username" /></p>
    <p>EMAIL <input type="email" name="email" placeholder="user email" /></p>
    <p>PASSWORD <input type="password" name="password" placeholder="password" /></p>
    <p>ADDRESS <input type="text" name="address" placeholder="address"  /></p>
    <p>PINCODE <input type="number" name="pincode" placeholder="pincode" /></p>
    
    <button>submit</button>
    <br>
    <a href="/login" type="button">Login User</a>
  </form>
</body>
</html>