<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>update form: </title>
</head>
<body>
  <h1>Update student details form: </h1>
  <form action="{{ url_for('users.update', id=user.id) }}" method="POST">
    <h1>username: {{user.username}}</h1>
    <p>Address<input type="text" name="updateAddress" value="{{user.address}}" placeholder="address" /></p>
    <p>pincode<input type="number" name="updatePincode" value="{{user.pincode}}" placeholder="pincode" /></p>
    <button>submit</button>
  </form>
</body>
</html>